.panel-div {
  white-space: nowrap;
  display:inline;
}
.panel-div-wrapper {
  background:gainsboro;
  width:100%;
  overflow-x:auto;
  margin-top: 80px;
}
ul {
  display: inline;
  padding:0px;
}
li {
  margin:2px;
  display:inline-block;
  list-style-type: none;
}
