<div id="outerDiv">
  <div id="innerDiv">
    <h1>Matching Quiz</h1>
    <span *ngIf="!(isLoaded$ | async)">
      Select a match set:
    </span>
    <select (change)="onChange()" [(ngModel)]="selectedMatchSet">
      <option *ngFor="let matchSet of matchSets$ | async" [ngValue]="matchSet">
        {{matchSet.title}}
      </option>
    </select>
    <span *ngIf="isLoaded$ | async">
      {{ matchCount$ | async }} of {{ matchTotal$ | async }}
    </span>
    <button mat-raised-button color="primary" *ngIf="isLoaded$ | async" (click)="onResetClicked()">Reset</button>
  </div>
</div>
