<div id="outerDiv">
  <div id="innerDiv">
    <h1>Matching Quiz</h1>
    <span *ngIf="!(isLoaded$ | async)">
      Select a match set:
    </span>
    <mat-form-field>
      <mat-select (change)="onChange()" [(ngModel)]="selectedMatchSet">
        <mat-option *ngFor="let matchSet of matchSets$ | async" [value]="matchSet">
          {{matchSet.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span *ngIf="isLoaded$ | async">
      {{ matchCount$ | async }} of {{ matchTotal$ | async }}
    </span>
    <button mat-raised-button color="primary" *ngIf="isLoaded$ | async" (click)="onResetClicked()">Reset</button>
  </div>
</div>
