.gallery-div {
  white-space: nowrap;
  display:inline;
}
.gallery-div-wrapper {
  background:gainsboro;
  max-width: 100%;
  display:inline-block;
  overflow-x:auto;
  margin-top: 80px;
}
ul {
  display:inline;
  padding:0px;
}
li {
  margin:10px;
  display:inline-block;
  list-style-type: none;
}
